{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive | Shakara Express" %}{% endblock %}

{% block content %}
<div class="container">
	<br/>
	<h1 class="text-center" style="color: #dc143c;"> Oops! {% trans "Account Inactive" %}</h1>
	<hr/>
	<h5 class="text-primary text-center">{% trans "This account is inactive. contact the administrator for support" %}</h5>
	<hr/>
	<div class="col-sm-12">
	<a href="{{ '/' }}" class="btn btn-success center-block"> <i class="fa fa-arrow-left"></i> take me out of here </a>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</div>
{% endblock %}