{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out | Shakara Express" %}{% endblock %}

{% block content %}
<div class="container">
	<br/>
	<h1 class="text-info text-center">
		<strong>
			{% trans "Sign Out" %}
		</strong>
	</h1>
	<br/>

	<h5 class="text-danger text-center">{% trans 'Are you sure you want to sign out ?' %}</h5>
	<br/>

	<div class="col-sm-6 col-sm-offset-3">
		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden"  name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <button type="submit" class="btn btn-block btn-success">
		  	{% trans 'Sign Out' %}
		  </button>
		  <br/>
		</form>
	</div>	
</div>

{% endblock %}