{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
    <h1 class="text-danger text-center">{% if token_fail %}{% trans "Bad Token Request Failed
    d" %}{% else %}{% trans "Change Password Confirmation" %}{% endif %}</h1><hr/>

    {% if token_fail %}
        <div class="well well-sm">
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center text-danger">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-block btn-success" name="action" value="{% trans 'change password' %}"/>
                <br/><br/><br/><br/>
            </form>
        {% else %}
            <div class="well well-sm">
            <p class="text-success text-center">{% trans 'Your password is now changed successfully!!.' %}</p>
            </div>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}