{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password | Shakara Express" %}{% endblock %}

{% block content %}
	<div class="container">
		<br/>
	    <h1 class="text-info text-center">{% trans "Change Password" %} For {{ request.user }}</h1><hr/>

	    <div class="col-sm-6">
	    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	        {% csrf_token %}
	        {{ form|crispy }}
	        <button type="submit" class="btn btn-success btn-block" name="action">{% trans "Change Password" %}</button>
	        
	    </form>
	    </div>
	    <div class="col-sm-6">
	    	<div class="well well-sm">
	    		<p class="text-default">
	    			{{ request.user }} changing your password is neccesary at regular intervals to avoid malicious intents or unsolicitated access to your account...<br/>
	    			<hr/>

	    			<h4 class="text-center text-primary">message from support@shakaraexpress.com </h4>
	    			<br/><br/><br/><br/><br/>

	    		</p>
	    	</div>
	    </div>
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
{% endblock %}