{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password Confirmation" %}{% endblock %}

{% block content %}
	<div class="container">
		<br/>
	    <h1 class="text-primary text-center">{% trans "Change Password" %}</h1>
	    <br/>
	    <div class="well well-sm">
	    	<p class="text-default text-center">{% trans 'Your password is now changed successfully' %} for {{ request.user }}.</p>
	    </div>
	    <a href="{{ '/' }}" class="btn btn-success center-block"> Take Me Out Of Here</a>
	    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
{% endblock %}