{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset | Shakara Express" %}{% endblock %}

{% block content %}
    <div class="container">
        <hr/>
        <h1 class="text-center text-info"> <i class="fa fa-key"></i> {% trans "Shakara Express Password Reset" %}</h1><br/>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <hr/>

        <p class="text-warning text-center">{% trans "Forgotten your password? Or Just want to reset your password?, Enter your e-mail address below, and Shakara Express will send you an e-mail carrying link that would allow you to reset your password." %} {% if user.is_authenticated %} <strong> <i class="fa fa-user"> {{ request.user.username }}</i> {% endif %} </p>
        <hr/>
        <div class="col-sm-6">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <hr/>
            <input type="submit" class="btn btn-success center-block" value="{% trans 'Reset My Password' %}" />
        </form>
        </div>
        <div class="col-sm-12 text-danger text-center">
            <hr/>
            <p>{% blocktrans %}Please contact us on <strong style="color: blue"> Shakara Express (Shakara Express.info@gmail.com) </strong> if you have any trouble resetting your password.{% endblocktrans %}</p>
            <br/>
        </div>
    </div>
{% endblock %}