{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
	<div class="container">
		<br/>
	    <h1 class="text-primary text-center">
	    	<strong>
	    		{% trans "Set Password" %}
	    	</strong>
	    </h1>
	    <hr/>

	    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
	        {% csrf_token %}
	        {{ form|crispy }}
	        <input type="submit" name="action" class="btn btn-success btn-block" value="{% trans 'Set Password' %}"/>
	        <br/>
	    </form>
	</div>
{% endblock %}