{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


<script>
{% block jquery %}
var clientToken = "{{ client_token }}";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});


{% endblock %}
</script>

{% block content %}

<section>
	<div class="container">
		{% if not user_can_continue %}
			<div class='col-sm-6'>
				<p class='lead text-center text-primary'>Continue as Guest</p>
				<form method='POST' action=''>{% csrf_token %}
					{{ form|crispy }}
					<input type='submit' class='btn btn-success' value='Continue as Guest' />
				</form>
			</div>

			<div class='col-sm-6'>
				<p class='lead text-info text-center'>Login to Continue</p>
				<form method='POST' action="{% url 'account_login' %}"> {% csrf_token %}
					{{ login_form|crispy }}
					<input type='hidden' name='next' value='{{ next_url }}' />
					<input type='submit' class='btn btn-success btn-block' value='Login' />
				</form>
				<p class='text-center text-info'>
					<p class="text-info text-center">{% trans "Forgot password" %}? <a href="{% url 'account_reset_password' %}">{% trans "Reset it" %}</a>!</p>
					<p class="text-info text-center">{% trans "Not member" %}? <a href="{% url 'account_signup' %}">{% trans "Register" %}</a>!</p>
				</p>
			</div>
		{% else %}
			<div class='col-sm-4 col-sm-offset-4 text-center'>
				{% include "orders/order_summary_short.html" with order=order %}

				<p class="text-center text-info">
				 	<a href='{% url "order_address" %}'>Change an Address</a>
				</p>
				<br/>

				<!-- <form id="checkout" method='POST' action="{% url 'checkout_final' %}">{% csrf_token %}
					<div id="payment-form"></div>
					<p class="text-info text-center"><b><button type='submit' class="btn btn-block btn-success">Complete Order</button></b></p>
				</form> -->
				<br/>

			<div class="col-sm-8 col-sm-offset-2 text-center">

				<p>
					<em>
						<small>
							<a id="95101" class="quickteller-checkout-anchor text-center btn btn-block" style="text-align: center;"></a>
						</small>
					</em>
				</p>

				<h2 class="text-center lead"><small>Payment With: Quick Teller </small> </h2>

				<script>// <![CDATA[
				var QTCheckout = QTCheckout || {};
				var testMode = true;
				var baseUrl = "";
				QTCheckout.paymentItems = QTCheckout.paymentItems || [];
				QTCheckout.paymentItems.push({
					paymentCode: '95101',
					extraData: {
						amount:"{{ order.order_total }}",
						buttonSize: 'large',
						customerId:"{{ order.user.pk }}",
						mobileNumber:"{{ order.billing_address.mobile_number }}",
						emailAddress:"mathegeniuse@gmail.com",
						redirectUrl: "https://www.shakaraexpress.com",
						requestReference: "9999867437401"
					}
				});

				if (testMode == true) baseUrl = "https://pwq.sandbox.interswitchng.com/scripts/quickteller-checkout-min.js?v=";
				else baseUrl = "https://paywith.quickteller.com/scripts/quickteller-checkout-min.js?v=";
				if (!QTCheckout.qtScript) {
					var qtScript = document.createElement('script');
					qtScript.type = 'text/javascript';
					qtScript.async = true;
					qtScript.src = baseUrl + new Date().getDay();
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(qtScript, s);
					QTCheckout.qtScript = qtScript;
				}

				else if (QTCheckout.buildPaymentItemsUI) {
					QTCheckout.buildPaymentItemsUI();
				}
				// ]]></script>

			</div>
		{% endif %}
	</div>
</section>

{% endblock %}