{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {{ booking_obj }} {% endblock head_title %}

{% block content %}
	
	<section>
		<div class="container">
			<div class="col-sm-6 col-sm-offset-3">
				<hr/>
				<h3 class="text-danger text-center"> {{ booking_obj }} Reschedule Booking </h3>
				<hr/>
				<form method="POST" action="" enctype='multipart/form-data'> 
		        	{% csrf_token %}

					{{ booking_form|crispy}}
					<span class="input-group-btn">
					<button class="btn btn-info btn-block" type="submit"> Reschedule </button>
					</span>
				</form>
			</div>
		</div>
	</section>

{% endblock %}
