{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load comments %}
{% load comments_xtd %}
{% load ratings %}

{% block head_extra %}
    {{ apply_form.media }}
{% endblock head_extra %}

{% block head_title %} {{ object }} - {% endblock head_title %}


{% block content %}

<section>
	<div class="col-sm-6 col-sm-offset-3">
		<h2 class="text-center">  Product: <strong>{{ object.title }}</strong>  </h2>
		<hr/>
		{% if request.user == object.shop.user %}
			<button class="btn btn-block btn-center btn-warning"> This product belongs to you and cannot be purchased by you </button>
		{% endif %}
	</div>

	<div class="col-sm-6 text-center col-sm-offset-3">
		<strong class="text-center col-sm-6 col-sm-offset-3">by: 
			<a href='{{ object.shops.get_absolute_url }}'>{{ object.shop }}</a>
		</strong>

		<div class="col-sm-6 col-sm-offset-3">
			{% if object.media %}
				<img src="{{ object.media.url }}" class="img-responsive" />
			{% else %} 
				<h3>
					No Image For Product
				</h3> 
			{% endif %}
		</div>

		<div class="col-sm-6 col-sm-offset-3">
			<p class="text-center">{{ object.description }}</p>
			<p class="text-center">{{ object.transaction_set.count }} purchases made.</p>
			<p class="text-center">{{ object.get_html_price|safe }}</p>
		</div>
	</div>
</section>
<section>
	<div class="container col-sm-6 col-sm-offset-3">
		<br/>
		{% if request.user.is_authenticated %}
			<p class="text-center"><a id='purchase-btn' class="btn btn-block btn-success" href="#">{% if object.media %}Buy Now{% else %}Order Product Now{% endif %}</a></p>
			<div id='dialog-confirm' title='Confirm Purchase' style='display:none'>
				<p>Your card on file will be charged after you agree below.</p>
			</div>
		{% endif %}
	</div>
	<br/>
</section>
<div class='clearfix'></div>
<section>
	<div class="col-sm-6 col-sm-offset-3"> <a href="/" class="btn btn-block"> back to dashboard </a></div>
</section>

{% endblock content %}