{% extends "base.html" %}

{% load urlify %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {% endblock head_title %}

{% block content %}

	<!-- breadcrumb -->
	<div class="w3_breadcrumb">
		<div class="breadcrumb-inner">	
			<ul>
				<li><a href="/">Home</a> <i>//</i></li>
				<li>Fashion</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumb -->
	
	<section>
		<div class="container-fluid">

		{% for obj in fashion %}
			<hr/>
			<!-- about-bottom -->
			<div class="price" id="price">
			{% if obj.business_name %}
				{% if obj.dashboard_banner_image_1 %}
					<div class="col-md-6" style="background-size: cover;">
						<img src="{{ obj.dashboard_banner_image_1.url }}" class="img-responsive" style="background-size: cover; background-repeat: no-repeat">
					</div>
				{% else %}
				<div class="col-md-6 w3l_about_bottom_left" style="background-size: cover;">
				</div>
				{% endif %}
			    <div class="col-md-6 w3l_about_bottom_right">
					<div class="title-agileits1">
			            <h3><a href="{{obj.get_absolute_url}}">{{ obj }}</a></h3>
					</div>
					<p>{{ obj.get_markdown_content }}</p>
					<hr/>
					<a href="{{ obj.get_absolute_url }}" class="btn btn-block btn-warning"> Book From This Shop </a>
					<hr/>
				<p class=" text-center well well-sm">
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
						<i class="fa fa-facebook-square fa-2x"></i> 
					</a>
					<a href="https://twitter.com/home?status={{ instance.content| truncatechars:80 |urlify }}%20{{ request.build_absolute_uri }}/">
						<i class="fa fa-twitter-square fa-2x"></i>
					</a>
					<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}' class="text-danger">
						<i class="fa fa-google-plus-square fa-2x"></i>
					</a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
			          <i class="fa fa-linkedin-square fa-2x"></i>
		      		</a>
				</p>
				</div>
				<div class="clearfix"> </div>
			{% elif obj.media %}
			<!-- about-bottom -->
				<div class="price" id="price">
					{% if obj.media %}
						<div class="col-md-6" style="background-size: cover;">
							<img src="{{ obj.media.url }}" class="img-responsive" style="background-size: cover; background-repeat: no-repeat">
						</div>
					{% else %}
					<div class="col-md-6 w3l_about_bottom_left" style="background-size: cover;">
					</div>
					{% endif %}
				    <div class="col-md-6 w3l_about_bottom_right">
						<div class="title-agileits1">
				            <h3><a href="{{obj.get_absolute_url}}">{{ obj }}</a></h3>
						</div>
						<p>{{ obj.get_html_price|safe }}</p>
						<hr/>
						<p> {{ obj.description }} </p>
						<hr/>
						<a href="{{ obj.get_absolute_url }}" class="btn btn-block btn-warning"> Get Product Now </a>
						<hr/>
				<p class=" text-center well well-sm">
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
						<i class="fa fa-facebook-square fa-2x"></i> 
					</a>
					<a href="https://twitter.com/home?status={{ obj.title| truncatechars:80 |urlify }}%20{{ request.build_absolute_uri }}/">
						<i class="fa fa-twitter-square fa-2x"></i>
					</a>
					<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}' class="text-danger">
						<i class="fa fa-google-plus-square fa-2x"></i>
					</a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ obj.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
			          <i class="fa fa-linkedin-square fa-2x"></i>
		      		</a>
				</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			{% else %}
				<!-- about-bottom -->
				<div class="price" id="price">
					{% if obj.title %}
						<div class="col-md-6" style="background-size: cover;">
							<img src="{{ obj.serviceimage.image_set.url }}" class="img-responsive" style="background-size: cover; background-repeat: no-repeat">
						</div>
					{% else %}
					<div class="col-md-6 w3l_about_bottom_left" style="background-size: cover;">
					</div>
					{% endif %}
				    <div class="col-md-6 w3l_about_bottom_right">
						<div class="title-agileits1">
				            <h3><a href="{{obj.get_absolute_url}}">{{ obj }}</a></h3>
						</div>
						<p>{{ obj.price|safe }}</p>
						<hr/>
						<p> {{ obj.description }} </p>
						<hr/>
						<a href="{{ obj.get_absolute_url }}" class="btn btn-block btn-warning"> Book Service Now </a>
						<hr/>
				<p class=" text-center well well-sm">
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
						<i class="fa fa-facebook-square fa-2x"></i> 
					</a>
					<a href="https://twitter.com/home?status={{ obj.title| truncatechars:80 |urlify }}%20{{ request.build_absolute_uri }}/">
						<i class="fa fa-twitter-square fa-2x"></i>
					</a>
					<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}' class="text-danger">
						<i class="fa fa-google-plus-square fa-2x"></i>
					</a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ obj.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
			          <i class="fa fa-linkedin-square fa-2x"></i>
		      		</a>
				</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			{% endif %}
			</div>
		{% empty %}
			<!-- about-bottom -->
			<div class="price" id="price">
			    <div class="col-md-6 w3l_about_bottom_right">
					<div class="title-agileits1">
		                <h3 class="text-danger text-center">
		                	No Featured Product, Services Or Shops
		                </h3>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		{% endfor %}
			
		</div>
	</section>

{% endblock %}