{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {% endblock head_title %}

{% block content %}

	<!-- /beauty search -->
	<br/>
	<div class="container">
		<div class="title-agileits">
        	<h2 class="w3l-agile">Discover &amp; book beauty and barber appointments.</h2> 
	    </div>
	    <form action="{% url 'shop:all' %}" autocomplete="on" method='GET' class="newsletter">
	    	<div class="col-sm-4">
				<input class="form-control" type="text" name="q" placeholder="Haircut, Salon Name, Stylist" required="True" value="{{ request.GET.q }}">
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="q2" placeholder="location" required="True" value="{{ request.GET.q2 }}">
			</div>
			<div class="col-sm-4">
				<button class="btn btn-info btn-block" type="submit"> 
					<i class="fa fa-search"></i> Search
				</button>
			</div>
		</form>
	</div>
 	<!-- //beauty search-->

{% if request.user.is_authenticated %}
	<div class="blog" id="blog">
		<div class="container">
		<h2>
			<strong class="text-center">
				Dashboard Review - <i class="fa fa-user"></i> {{ request.user }}
			</strong><hr/>
		</h2>
		{% if request.user == obj.user %}
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/shop.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:dashboard' %}" class="btn btn-primary btn-block"> My Products </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/booking.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:shop-bookings' slug=obj.slug %}" class="btn btn-primary btn-block"> My Bookings </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/cshop.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:shop-detail' slug=obj.slug %}" class="btn btn-danger btn-block"> Customize My Shop </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/scart.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="#" class="btn btn-danger btn-block"> My Services </a>
			</div>

			<div class="col-sm-4">
				<hr/>
				<img src="{% static 'staticfiles/client/images/png/product.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'products:list' %}" class="btn btn-warning btn-block"> Shop Products </a>
			</div>
			<div class="col-sm-4">
				<hr/>
				<img src="{% static 'staticfiles/client/images/png/003-store.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:all' %}" class="btn btn-info btn-block"> Book Services </a>
			</div>
			<div class="col-sm-4">
				<hr/>
				<img src="{% static 'staticfiles/client/images/png/deal.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'dotd' %}" class="btn btn-danger btn-block"> Deals OF The Day </a>
			</div>
		{% else %}
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/003-store.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:all' %}" class="btn btn-primary btn-block"> Book Services </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/product.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'products:list' %}" class="btn btn-warning btn-block"> Shop Products </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/more.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'featured' %}" class="btn btn-warning btn-block"> More/Featured </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/deal.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'dotd' %}" class="btn btn-danger btn-block"> Deals OF The Day </a>
			</div>
		{% endif %}
		</div>
	</div>

	<br/>
	{% if request.user == obj.user %}
	{% else %}
		<div class="container">
			<div class="title-agileits">
	        	<h2 class="w3l-agile">I WOULD LOVE TO OWN A STORE </h2> 
		    </div>
		    <div class="col-sm-8 jumbotron">
		    	<h2 class="well well-sm text-center">
		    		Own a store at SHAKARA EXPRESS,<br/><hr/>
		    		Grow your clientele and become your own boss<hr/>
		    	</h2>
		    </div>
		    <div class="col-sm-3 col-sm-offset-1 jumbotron">
				<img src="{% static 'staticfiles/client/images/png/dollar.png' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:dashboard' %}" class="btn btn-info btn-block"> Own A Store/Make Money </a>
			</div>
			<br/>
		</div>
		<br/>
	{% endif %}

{% else %}
	<!-- blog -->
	<div class="blog" id="blog">
		<div class="container">
			<div class="title-agileits">
                 <h3 class="w3l-agile">Shakara For Business</h3> 
			</div>
			<div class="w3-agile-blog-grids">
				<div class="w3-agile-blog-grid">
					<div class="col-md-5 w3-agile-blog-left">
						<a href="single.html"><img src="{% static 'staticfiles/client/images/7.jpg' %}" alt="" /></a>
					</div>
					<div class="col-md-6 w3-agile-blog-right">
						<div class="w3-agile-blog-right-top">
							<div class="blog-left-left">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class="blog-left-right-top">
								<h4><a href="single.html">Are you a professional stylist, beauty, or a spa professional? </a></h4>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agile-blog-right-info">
							<p>Manage your business, <a href="#">accept payments </a> and grow your clientele using Shakara Express.</p>
							<a href="{% url 'shop:dashboard' %}" class="hvr-shutter-in-horizontal">Set Up My Business</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //blog -->
{% endif %}

{% if not request.user.is_authenticated %}
<div class="clients-section">
    <div class="container">
	    <div class="title-agileits">
                 <h3 class="w3l-agile">Our Customers Says</h3> 
			</div>
	    <div class="mis-stage"> 
				<!-- The element to select and apply miSlider to - the class is optional -->
				<ol class="mis-slider">
					<!-- The slider element - the class is optional -->
					<li class="mis-slide"> 
					<!-- A slide element - the class is optional --> 
						<a href="#" class="mis-container"> 
						<!-- A slide container - this element is optional, if absent the plugin adds it automatically -->
						<figure> 
						<!-- Slide content - whatever you want --> 
						<img src="{% static 'staticfiles/client/images/t1.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Cass<span> I am loving the customer service from the shops, they are amazing..</span></figcaption>
						</figure>
						</a> </li>
					<li class="mis-slide"> <a href="#" class="mis-container">
						<figure> <img src="{% static 'staticfiles/client/images/t2.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Ejiro<span> I was referred to shakara express by a friend and since then, it's like the best thing that has ever happened.. I love this guys.. </span></figcaption>
						</figure>
						</a> </li>
					<li class="mis-slide"> <a href="link" class="mis-container">
						<figure> <img src="{% static 'staticfiles/client/images/t3.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Dolapo<span> Every womans need in one basket.. I love this </span></figcaption>
						</figure>
						</a> </li>
					<li class="mis-slide"> <a href="#" class="mis-container">
						<figure> <img src="{% static 'staticfiles/client/images/t4.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Toria<span> Very friendly end to end clients and superb work flow... i love you guys </span></figcaption>
						</figure>
						</a> </li>
				</ol>

			</div>
	</div>
</div>
{% endif %}

{% endblock %}