{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {% endblock head_title %}

{% block content %}

	<!-- /beauty search -->
	<br/>
	<div class="container" id="search-and-filter">
		<div class="title-agileits">
        	<h2 class="w3l-agile">Discover beauty, fashion, wellness and barbershop appointments or products.</h2> 
	    </div>
	    <form action="{% url 'shop:all' %}" autocomplete="on" method='GET' class="newsletter">
	    	{% csrf_token %}
	    	<div class="col-sm-4">
				<input class="form-control" type="text" name="q" placeholder="Shop name or professionals" required="True" value="{{ request.GET.q }}">
			</div>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="q2" placeholder="location" required="True" value="{{ request.GET.q2 }}">
			</div>
			<div class="col-sm-4">
				<button class="btn btn-info btn-block" type="submit"> 
					<i class="fa fa-search"></i> Search
				</button>
			</div>
		</form>
	</div>
 	<!-- //beauty search-->

{% if request.user.is_authenticated %}
	<div class="blog" id="blog">
		<div class="container">
		<h2>
			<strong class="text-center">
				Dashboard Review - <i class="fa fa-user"></i> {{ request.user }} - {% if request.user.is_superuser %}
				<a href="/admin/shakara-express/" class="btn btn-sm btn-primary"> Admininstrator Dashboard </a>{% else %} <i class="fa fa-check"></i> {% endif %}
			</strong><hr/>
		</h2>
		{% if request.user == obj.user %}
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/products.svg' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:dashboard' %}" class="btn btn-primary btn-block"> My Products </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/services.svg' %}" class="img-responsive center-block">
				<hr/>
				{% if active %}
					<a href="{% url 'my-service' %}" class="btn btn-danger btn-block"> My Services </a>
				{% else %}
					<a href="#" class="btn btn-danger btn-block btn-disabled" disabled> Sorry Shop Account Is Deactivated </a>
				{% endif %}
			</div>
 			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/mybookings.svg' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'booking' %}" class="btn btn-primary btn-block"> See My Recent Bookings </a>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'staticfiles/client/images/png/shop.svg' %}" class="img-responsive center-block">
				<hr/>
				{% if active %}
					<a href="{% url 'shop:shop-detail' slug=obj.slug %}" class="btn btn-danger btn-block"> Customize My Shop </a>
				{% else %}
					<a href="#" class="btn btn-danger btn-block btn-disabled" disabled> Sorry Shop Account Is Deactivated </a>
				{% endif %}
			</div>
			<div class="col-sm-4">
				<hr/>
				<img src="{% static 'staticfiles/client/images/png/sproduct.svg' %}" class="img-responsive center-block">
				<hr/>
				{% if active %}
					<a href="{% url 'products:list' %}" class="btn btn-warning btn-block"> Shop Products </a>
				{% else %}
					<a href="#" class="btn btn-danger btn-block btn-disabled" disabled> Sorry Shop Account Is Deactivated </a>
				{% endif %}
			</div>
			<div class="col-sm-4">
				<hr/>
				<img src="{% static 'staticfiles/client/images/png/bservices.svg' %}" class="img-responsive center-block">
				<hr/>
				<a href="/services/" class="btn btn-info btn-block"> Book Services </a>
			</div>
			<div class="col-sm-4">
				<hr/>
				<h3 class="text-center"> My Recent Bookings</h3>
				<br/>
				<div class="well well-sm text-center">
					{% for obj in my_bookings %}
						<strong class="text-center"><a href="{{ obj.get_absolute_url }}"> {{ obj }} - reschedule </a> </strong><hr/>
					{% empty %}
						<strong class="text-center text-danger">
							<a href="/booking/"> Bookings For The Last 7 days </a>
						</strong>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<div class="col-sm-4">
				<img src="{% static 'staticfiles/client/images/png/bservices.svg' %}" class="img-responsive center-block">
				<hr/>
				<a href="/services/" class="btn btn-primary btn-block"> Book Services </a>
			</div>
			<div class="col-sm-4">
				<img src="{% static 'staticfiles/client/images/png/sproduct.svg' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'products:list' %}" class="btn btn-warning btn-block"> Shop Products </a>
			</div>
			<div class="col-sm-4">
				<img src="{% static 'staticfiles/client/images/png/support.svg' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'featured' %}" class="btn btn-warning btn-block"> More/Featured </a>
			</div>
 			<div class="col-sm-4">
				<hr/>
				<h3 class="text-center"> My Recent Bookings</h3>
				<br/>
				<div class="well well-sm text-center">
					{% for obj in my_bookings %}
						<strong class="text-center"><a href="{{ obj.get_absolute_url }}"> {{ obj }} - reschedule </a> </strong><hr/>
					{% empty %}
						<strong class="text-center text-danger">
							<a href="/booking/"> Bookings For The Last 7 days </a>
						</strong>
						<hr/>
						<a href="#" class="btn btn-block btn-warning">See all bookings</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		</div>
	</div>

	<br/>
	{% if request.user == obj.user %}
	{% else %}
		<div class="container">
			<div class="title-agileits">
	        	<h2 class="w3l-agile">I WOULD LOVE TO OWN A STORE </h2> 
		    </div>
		    <div class="col-sm-8 jumbotron">
		    	<h2 class="well well-sm text-center">
		    		Own a store at SHAKARA EXPRESS,<br/><hr/>
		    		Grow your clientele and become your own boss<hr/>
		    		<i class="fa fa-2x fa-arrow-right"></i>
		    	</h2>
		    </div>
		    <div class="col-sm-3 col-sm-offset-1 jumbotron text-center">
				<img src="{% static 'staticfiles/client/images/png/naira.svg' %}" class="img-responsive center-block">
				<hr/>
				<a href="{% url 'shop:dashboard' %}" class="btn btn-info btn-block"> Own A Store/Make Money </a> <hr/>
				<strong>Click Here </strong><i class="fa fa-2x fa-arrow-up"></i>
			</div>
			<br/>
		</div>
		<br/>
	{% endif %}

{% else %}
	<!--/content-inner-section-->
				<div class="w3_content_agilleinfo_inner">
					<div class="container">
					     <div class="title-agileits">
                            <h2 class="w3l-agile">Browse &amp; Discover</h2> 
                            <small> click and hold photos for few seconds to display image title</small>
			             </div>
				    <div class="gallery-grids">
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEbeauty.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Beauty</strong></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEnaturals.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Naturals</strong></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEbraids.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Braids</strong></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEmensgroomingandkidscut.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Men's Grooming &amp; Kids Cut</strong></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEnails.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Nails</strong></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEfashion.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Fashion</strong></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEweaveandextention3.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Weaves &amp; Extensions</strong></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEspa.jpg' %}" alt="" />
									<figcaption>
										<p><strong>Spa</strong></p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="#search-and-filter" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{% static 'staticfiles/client/images/SEdailydeals.jpg' %}" alt="" />
									<figcaption>
									<p><strong>Daily Deals</strong></p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>
					<div class="clearfix"> </div>		
				</div>
			</div>
			</div>
			<!--//content-inner-section-->

	<!-- blog -->
	<div class="blog" id="blog">
		<div class="container">
			<div class="title-agileits">
                 <h3 class="w3l-agile">Shakara Express For Business</h3> 
			</div>
			<div class="w3-agile-blog-grids">
				<div class="w3-agile-blog-grid">
					<div class="col-md-5 w3-agile-blog-left">
						<a href="single.html"><img src="{% static 'staticfiles/client/images/7.jpg' %}" alt="" /></a>
					</div>
					<div class="col-md-6 w3-agile-blog-right">
						<div class="w3-agile-blog-right-top">
							<div class="blog-left-left">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</div>
							<div class="blog-left-right-top">
								<h4><a href="single.html">Are you a professional stylist, beauty, or a spa professional? </a></h4>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agile-blog-right-info">
							<p>Manage your business, accept payments and grow your clientele using Shakara Express.</p>
							<a href="{% url 'shop:dashboard' %}" class="hvr-shutter-in-horizontal">Set Up My Business</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //blog -->
{% endif %}

{% if not request.user.is_authenticated %}
<div class="clients-section">
    <div class="container">
	    <div class="title-agileits">
                 <h3 class="w3l-agile">Our Customers Say</h3> 
			</div>
	    <div class="mis-stage"> 
				<!-- The element to select and apply miSlider to - the class is optional -->
				<ol class="mis-slider">
					<!-- The slider element - the class is optional -->
					<li class="mis-slide"> 
					<!-- A slide element - the class is optional --> 
						<a href="#" class="mis-container"> 
						<!-- A slide container - this element is optional, if absent the plugin adds it automatically -->
						<figure> 
						<!-- Slide content - whatever you want --> 
						<img src="{% static 'staticfiles/client/images/j1.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Cass<span> I am loving the customer service from the shops, they are amazing..</span></figcaption>
						</figure>
						</a> </li>
					<li class="mis-slide"> <a href="#" class="mis-container">
						<figure> <img src="{% static 'staticfiles/client/images/j2.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Ejiro<span> it's the best thing that has ever happened.. </span></figcaption>
						</figure>
						</a> </li>
					<li class="mis-slide"> <a href="link" class="mis-container">
						<figure> <img src="{% static 'staticfiles/client/images/j3.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Dolapo<span> Every womans need in one basket.. I love this </span></figcaption>
						</figure>
						</a> </li>
					<li class="mis-slide"> <a href="#" class="mis-container">
						<figure> <img src="{% static 'staticfiles/client/images/j4.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>Toria<span> Very friendly end to end clients and superb work flow... i love you guys </span></figcaption>
						</figure>
						</a> </li>
				</ol>

			</div>
	</div>
</div>
{% endif %}

{% endblock %}