{% extends "base.html" %}


<script>
{% block jquery %}


function setPrice(){
	var price = $(".variation_select option:selected").attr("data-price")

	var sale_price = $(".variation_select option:selected").attr("data-sale-price")
	if (sale_price != "" && sale_price != "None" && sale_price != null ) {
	$("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price  + "</small></h3>");
	} else {
	$("#price").html(price);
	}
}
setPrice()

$(".variation_select").change(function(){
	setPrice()
	// var img = $(".variation_select option:selected").attr("data-img")
	// $("img").attr("src", img);

})



// ajax add to booking

$("#submit-btn").click(function(event){
	event.preventDefault();
	var formData = $("#add-form").serialize();
	console.log(formData);
	$.ajax({
		type: "GET", // "POST"
		url: "{% url 'booking' %}",
		data: formData,
		success: function(data) {
			showFlashMessage(data.flash_message);
			updateBookingItemCount();
		}, 
		error: function(response, error) {
			console.log(response)
			console.log(error)
			$("#add-form").submit()
		}
	})

	// $("#add-form").submit()

})



{% endblock %}
</script>


{% block content %}

	<section>
		<div class="container">

			<div class='row'>
				<div class='col-sm-8'>
					<br/>
					<h2 class="text-center text-info"><strong>{{ object.title }}</strong></h2>
					<hr/>
					{% if object.get_image_url %}
						<div class="text-center">
							<img id='img' class='img-responsive' src='{{ object.get_image_url }}' />
							<hr/>
						</div>
					{% endif %}

					<p class='lead text-center well well-sm'>
						<strong>{{ object.description }}</strong>
					</p>
				</div>

				<!-- Product Sidebar -->
				<div class='col-sm-4'>
					<form id='add-form' method='GET' action="{% url 'booking' %}">
						<p id='jquery-message' class='lead text-center'></p>
						{% if object.variation_set.count > 1 %}
							<h3 id='price' class="text-center text-info"><strong>NGN{{ object.variation_set.first.price }}</strong></h3><br/>
							<select name='item' class='form-control variation_select'>
								{% for vari_obj in object.variation_set.all %}
									<option  data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>
								{% endfor %}
							</select>
						{% else %}
							<input type="hidden" name='item' value='{{ object.variation_set.first.id }}' />
							<h3 id='price' class="text-info text-center">
								{% if object.variation_set.first.sale_price %}
									{{ object.variation_set.first.sale_price  }}
									<small class='og-price text-info text-center'>{{ object.variation_set.first.price }}</small>
								{% else %}
										{{ object.variation_set.first.price }}
								{% endif %}
							</h3>
						{% endif %}
						<br/>
						<input class='form-control' type='number' name='qty' value='1' />
						<br/>
						<input id='submit-btn' type='submit' value='Add to Booking' class='btn btn-success btn-block' />
					</form>
					<br/>
					<hr/>
					<a href="/booking/" class="btn btn-block btn-success"> See My Bookings / Continue To Checkout </a>
					<hr/>
					<p class="text-center text-info">
						Share <br/>
						<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
						<i class="fa fa-facebook-square fa-3x"></i></a>
						<a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
					</p>
					<hr/>
					<h4 class="text-center text-info"> Related Services From Same Shop</h4><br/>
					<div class='row'>
						{% for service in related %}
							<div class='col-xs-6'>
								{% include "services/service_thumbnail.html" with service=service price="True" %}
							</div>
							{% cycle '' '</div><div class="row">' %}
						{% endfor %}
					</div>
					<hr/>
					<h4 class="text-info text-center"> Sold By
						<strong class="text-danger"> <a href="/shops/">{{ object.shop }}</a></strong>
					</h4>
					<br/>
				</div>
			</div>

		</div>
	</section>

{% endblock %}