{% load staticfiles %}

<div class="content_top">
	<div class="container">
		<div class="col-md-4 bottom_nav">
			<div class="content_menu">
				<ul>
					<li class="active"><a href="#">Recommended</a></li> 
					<li><a href="#">Latest</a></li> 
					<li><a href="#">Highlights</a></li> 
				</ul>
			</div>
		</div>
		<div class="col-md-4 content_dropdown1">
	   		<div class="content_dropdown">
         		<select>
					<option selected="dropdown" tabindex="9" style="display:none;color:#eee;">Dubai</option>
					<option>Australia</option>
					<option>Sri Lanka</option>
					<option>Newzeland</option>
					<option>Pakistan</option>
		        </select>
	     	</div>
	     	<div class="content_dropdown">    
		      	<select>
	         		<option selected="dropdown" tabindex="9" style="display:none;color:#eee;">Show Map</option>
					<option>tempor</option>
					<option>congue</option>
					<option>mazim </option>
		        </select>
	       	</div>
		</div>
		<div class="col-md-4 filter_grid">
			<ul class="filter">
				<li class="fil">Filter :</li>
				<li><a href=""> <i class="icon1"> </i> </a></li>
				<li><a href=""> <i class="icon2"> </i> </a></li>
				<li><a href=""> <i class="icon3"> </i> </a></li>
				<li><a href=""> <i class="icon4"> </i> </a></li>
				<li><a href=""> <i class="icon5"> </i> </a></li>
			</ul>
		</div>
	</div>
</div>