{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ booking_form.media }}
{% endblock head_extra %}

{% block head_title %} {{ object }} - {% endblock head_title %}

{% block content %}
	
	<section>
		<div class="container">
			<div class="col-sm-6 col-sm-offset-3">
				<hr/>
				<h3 class="text-danger text-center"> {{ object.user }}, Update {{ object }} </h3>
				<hr/>
				 <form method="POST" action="" enctype='multipart/form-data'> 
		        	{% csrf_token %}
						<input type="hidden" name="instance_location_destination" value="{{request.get_full_path}}" />

						{{ shop_form|crispy}}
						<span class="input-group-btn">
						<button class="btn btn-info btn-block" type="submit"> {{ submit_btn }} </button>
						</span>
				</form>
			</div>
		</div>
		<br/>
	</section>

{% endblock %}