{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {% endblock head_title %}

{% block content %}

	<section>
		<div class="container">
			<br/>
			<h1 class="text-center text-primary">
				<strong>About Shakara Express</strong>
			</h1>
			<hr/>
			<div class="well well-sm">
				
				<strong>SHAKARAEXPRESS: ABOUT US </strong><br/><br/>

				Shakara express is your one-stop personal assistant for keeping up to date with Beauty, Fashion and Wellness updates, reviews and discount deals. Purchase your favourite products, find your favourite stylists and booking your premium and pocket friendly beauty, fashion and spa appointments all in one place!<br/><br/>

				We ensure a beautiful, coordinated and timely method of service delivery aswell as seamless communication between Service Users and their favourite independent stylists/proffessionals, beauty and hair salons, barbershop, fashion stores, spas and wellness centres.<br/><br/>

				ShakaraExpress allows Professionals to showcase their work connect with new and existing clients, and build their businesses. Clients can discover new services and providers, book appointments online and get inspired And that’s not all… we bring these services to you at the convenience of your space..anywhere, anytime! <br/><br/>

				<strong>SIGN UP:</strong><br/><br/>
				We are excited to have you join our community, Let us pamper you...!<br/><br/>


				Sign up and follow our social media pages today to keep up with our stories, connect with our vibrant network of service users and stylists, while also saving money on our featured discount deals...<br/><br/>

			</div>
		</div>
	</section>

{% endblock %}