{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} {% endblock head_title %}

{% block content %}

	<section>
		<div class="container">
			<br/>
			<h1 class="text-center text-primary">
				<strong>Shakara Express - Terms Of Service For Business and Ecormerce</strong>
			</h1>
			<hr/>
			<div class="well well-sm">
				
				<strong>Information about us</strong><br/><br/>

				The Website is operated by ShakaraExpress Limited ("we", "our", or "us"). We are registered in Nigeria under company number 1441905 and have our registered office at No. 10B Adenike Wole Ajibode Street Off Babatunde Anjous Avenue, Lekki, Phase 1, Nigeria, Telephone: <a href=+2348118878297"tel:"> +2348118878297 </a> Email: <a href="mailto:info@shakaraexpress.com"> info@shakaraexpress.com. </a> Our VAT number is 20591705-0001<br/><br/>

				These terms of service comprise 3 parts:
				1.	Part A - Booking Terms and Conditions;
				2.	Part B - Issue of Vouchers 
				3.	Part C - Deals Direct Supplied Products.<br/><br/>

				Where we issue Vouchers and Coupons on the Website to be redeemed at third party suppliers, such transactions are governed by the terms and conditions set out in Part B below. Where we are acting as the supplier and providing Deals Direct Supplied Products to you, the terms and conditions set out in Part C will apply.<br/><br/>

				Vouchers and Deals Direct Supplied Products are subject to their own terms and conditions as set out in the Fine Print. By placing an order through the Website, you warrant that you agree to and will abide by the Fine Print. In an event of a conflict between these E-Commerce Terms and the Fine Print, the Fine Print will prevail.<br/><br/>

				<strong>Part A - Booking Terms and Conditions </strong><br/><br/>
				 
				The Products and/or Services you can buy or book via ShakaraExpress are sold by our Partners and not by us. We are only responsible for arranging and concluding your booking and we have been appointed by our Partners to act as their commercial agent to do so.<br/><br/>

				If you pay for Services from our Partners through our Website or our App, we may collect and receive your payment on behalf of the relevant Partner in our capacity as their commercial agent. In this event, our successful receipt of your payment will discharge your debt to the Partner for the Services.<br/><br/>

				The contract for the Services is directly between you and the relevant Partner. We are not liable for the Services you receive from our Partners. However, please do let us know if you encounter a problem or if the Service you receive at a venue falls short of your expectations and we’ll do our best to help.
				Please check all details and any restrictions relating to a Service within the fine prints thoroughly before booking.<br/><br/>

				Please ensure that any medical or other allergy/health information is disclosed to Partners before your appointment.<br/><br/>

				If you want to reschedule or cancel a Dated Booking (and provided that rescheduling or cancellation (as applicable) is not prohibited by these Booking Terms and Conditions) this must be requested and completed by either:<br/><br/>

				Using your ShakaraExpress account via the Website or the App;
				Following the link in your Order Confirmation email; or
				Emailing our Customer Care team at <a href="mailto:customersupport@shakaraexpress.com"> customersupport@shakaraexpress.com </a> or Calling our Customer Care team on <a href="tel: +2348118878297"> +2348118878297.</a> <br/><br/>

				If you want to cancel an order for an eVoucher (and provided that cancellation is not prohibited by these Booking Terms and Conditions) you must email our Customer Care team at  <a href="mailto:customersupport@shakaraexpress.com"> customersupport@shakaraexpress.com </a> or calling our Customer Care team on <a href="tel:+2348118878297"> +2348118878297 </a> <br/><br/>

				Rules regarding cancellation vary depending on whether you have purchased a Dated Booking or an eVoucher:
				You may cancel an eVoucher within 14 days of receiving your Order Confirmation (but prior to its cancellation period window or its expiry) - and we can offer you a full refund, unless you have already used it to book an appointment or have redeemed it against another purchase. <br/><br/>

				If you wish to cancel an eVoucher more than 14 days after receiving your Order Confirmation (but prior to its cancellation period window or its expiry), we can offer you a credit note for the amount paid, which must be redeemed on the Website or the App within six months of the date of issue of such credit note. Unless you have already booked an appointment or have redeemed it against another purchase.<br/><br/>

				You may cancel a Dated Booking within 24 hours of receiving your Order Confirmation provided the appointment is not due to take place in the next 24, 48 or 72 hours, or any time duration as selected by the Partner in their cancellation policy. In such cases we can offer you a full refund. If however the appointment is due to take place within the next 24, 48 or 72 hours, or any time duration as selected by the Partner, you will not be entitled to a refund or a credit note. <br/><br/>

				If you wish to cancel a Dated Booking more than 24 hours after receiving your Order Confirmation, and provided the applicable appointment is not due to take place within the next 24, 48 or 72 hours, or any time duration as selected by the Partner, we can offer you a credit note for the applicable amount transferred to your ShakaraExpress Wallet. If however the appointment is due to take place within the next 24, 48 or 72 hours, or any time duration as selected by the Partner, you will not be entitled to a refund or a credit note. <br/><br/>

				For Dated Booking Orders, if you wish to reschedule your appointment details (time/date) (in whole or in part) after you have received an Order Confirmation, provided your appointment is not due to take place within the next 24, 48 or 72 hours (or any time duration as determined by the Partner and notified to you at the time of making your Order), then please contact the partner via your account; email our Customer Care team at <a href="mailto:customersupport@shakaraexpress.com"> customersupport@shakaraexpress.com </a> or call our Customer Care team on <a href="tel: +2348118878297"> +2348118878297 </a> and we will endeavor to offer you a suitable alternative time and/or date.<br/><br/>
				 
				Please note, as set out in our Website & App Terms of Use, we reserve the right to withdraw access to our Website and/or App and/or cancel any Order in the event that you fail any credit or fraud prevention check or where we reasonably suspect fraud or money laundering by you or someone using your account.<br/><br/>
				 
				<strong>Services</strong><br/><br/>
				 
				Our Partners are under a legal duty to provide Services that are in conformity with the relevant Partner Contract.
				All Services shown on the Website and our App are subject to availability and the images and/or descriptions of the Services on the Website and our App are for illustrative purposes only and actual Services may vary from those images and/or descriptions. We require our Partners to ensure that all information provided by them for display on their page of the Website or via our App is accurate, complete and not misleading in any way but we cannot verify the information which they provide to us. It will be each Partner's responsibility to ensure that all of its Services listed on the Website or via our App are available and accurately described.<br/><br/>

				It is your (or the person receiving the Services) sole responsibility to communicate in advance any medical or health-related conditions and/or special needs to the Partner that might affect or be affected by any Services (for example without limitation, allergy information and health issues). If you (or the relevant recipient of the Services) fail to disclose any such information to the applicable Partner, neither ShakaraExpress nor the relevant Partner shall be liable to you (or the recipient of the Services) for any injury, loss or damages resulting from the Services that could reasonably have been avoided if you (or the recipient of the Services) had disclosed that information prior to receiving the Services.<br/><br/>

				<strong>PLEASE NOTE THAT IN A SMALL NUMBER OF CIRCUMSTANCES IT MAY NOT BE POSSIBLE TO CANCEL OR RESCHEDULE A DATED BOOKING BUT WE WILL DRAW THIS TO YOUR ATTENTION BEFORE YOU PLACE YOUR ORDER SO THAT YOU CAN DECIDE WHETHER OR NOT YOU ARE PREPARED TO PROCEED WITH ENTERING INTO THE CONTRACT ON THAT BASIS.<br/><br/>
				PLEASE NOTE THAT NO REFUND OR CREDIT NOTE WILL BE GIVEN WHERE A CANCELLATION IS ATTEMPTED 24, 48 or 72 HOURS (OR ANY TIME DURATION AS DETERMINED BY THE RELEVANT PARTNER) OR LESS FROM THE TIME OF THE SCHEDULED APPOINTMENT.<br/><br/>
				 
				PLEASE NOTE THAT NO REFUND OR CREDIT NOTE WILL BE GIVEN WHERE A CANCELLATION IS ATTEMPTED ONCE AN EVOUCHER HAS BEEN FULLY REDEEMED, EITHER VIA AN APPOINTMENT WITH A PARTNER BEING BOOKED OR BY BEING REDEEMED AGAINST ANOTHER PURCHASE ON THE WEBSITE OR THE APP.<br/><br/>

				PLEASE ALSO NOTE THAT WHERE A CANCELLATION IS ATTEMPTED ONCE AN EVOUCHER HAS BEEN REDEEMED IN PART, EITHER VIA AN APPOINTMENT WITH A PARTNER BEING BOOKED OR BY BEING REDEEMED AGAINST ANOTHER PURCHASE ON THE WEBSITE OR THE APP, NO REFUND OR CREDIT NOTE WILL BE GIVEN IN RESPECT OF THE REDEEMED PART OF THE EVOUCHER.<br/><br/></strong>

				eVouchers are cancellable in accordance with the cancellation terms.
				The expiry date of an eVoucher will be set by each Partner within our network of Partners offering eVouchers and can range from one month to 24 months. The expiry date can be found on the eVoucher itself. Please check this carefully and if you are unclear as to the expiry date of your eVoucher please contact us at <a href="mailto:customersupport@shakaraexpress.com"> customersupport@shakaraexpress.com </a><br/><br/>

				Whilst eVouchers are initially allocated to a particular Service at a particular Partner, they are multipurpose and may be redeemed at any one of the Partners within our limited network offering eVouchers on the Website and the App, subject to our cancellation terms. If you wish to redeem the eVoucher against another offer on the Website or the App, please feel free to contact us by email to <a href="mailto:customersupport@shakaraexpress.com"> customersupport@shakaraexpress.com </a> or by phone to <a href="tel: +2348118878297"> +2348118878297 </a> and we will arrange for your eVoucher to be redeemed against an alternative Partner and/or Service within our network.<br/><br/>
				 
				<strong>Resolving Issues</strong><br/><br/>
				 
				We care about your experience and want to ensure we maintain the highest standards possible and so if you would like to make a complaint about one of our Partners or their Services, please email us at  <a href="mailto:customersupport@shakaraexpress.com"> customersupport@shakaraexpress.com </a> or call us on <a href="tel: +2348118878297"> +2348118878297 </a> and we'll do our best to help.<br/><br/>

				Further or alternatively, if you are unhappy with the Services received from a Partner pursuant to an Order, you can also:<br/><br/>

				Speak to the Partner yourself to try and resolve the issue; and/or Leave an honest review on the Website or via the App to reflect your experience.<br/><br/>

				<strong>IMPORTANT NOTE: PLEASE DO BEAR IN MIND THAT WHILE WE TAKE ALL COMPLAINTS ABOUT OUR PARTNERS VERY SERIOUSLY AND WILL ALWAYS DO WHAT WE CAN TO HELP TO RESOLVE THEM, WE ARE NOT RESPONSIBLE TO YOU FOR THE SERVICE(S) WHICH THE PARTNERS PROVIDE AND ARE UNDER NO OBLIGATION TO PROVIDE YOU WITH A REFUND OR CREDIT NOTE IN THE EVENT YOU ARE DISSATISFIED WITH SERVICES WHICH YOU HAVE RECEIVED FROM OUR PARTNERS. </strong><br/><br/>
				 
				<strong>Price and payment</strong>
				 
				Prices and any applicable delivery and/or processing charges will be as quoted on the Website or via the App, but may be subject to change by ShakaraExpress or Partners at any time (in which case the Website and the App will be updated accordingly, but changes will not affect Orders in respect of which you have already been sent an Order Confirmation prior to the date the change is published on the Website and the App).<br/><br/>

				The Partner has full responsibility for accounting for VAT on the total value of the Order, where applicable. ShakaraExpress does not charge you VAT on Orders as the Services are provided by the Partner, not byShakaraExpress. As a result, ShakaraExpress cannot provide you with a VAT invoice in respect of your Order. You will need to contact the Partner direct to obtain a VAT invoice, where applicable.<br/><br/>

				The Website and our App contain details of a number of Services and it is possible that, despite ShakaraExpress’s best efforts, some of the pricing and other information shown for certain Services may be incorrect.
				Unless it is available and you have opted for "Pay at Venue" or “Cash”, payment for all Services must be made at the time of booking in Nigerian Naira by credit or debit card, or via a third party payment processor or by using the online payment facility ("Payment Facility"). If you do choose to pay via a third party payment processor, you will be redirected to their site to make payment and will be subject to their terms and conditions, privacy policy and other terms of use. Please check those carefully before confirming your Order. You will be responsible for protecting the confidentiality of your Website or App user ID and any password or other security information used by you to access your account on the Payment Facility. Any currency conversion costs or other charges incurred by you in making a payment will be borne by you in addition to the price due to us.<br/><br/>

				Payments made through the Payment Facility are processed by third party payment services providers. ShakaraExpress takes reasonable care to ensure that the Payment Facility is available and functioning at all times, but cannot guarantee continuous, uninterrupted or secure access to such Payment Facility, nor can we guarantee that the facility is virus or error free. We use third party payment service providers to process payments and because there are many factors beyond our control (such as delays in the banking system or in card networks), we cannot predict or guarantee the amount of time needed to complete the processing of your payment. Access to the Payment Facility may be occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services. We will attempt to provide reasonable notice of any scheduled interruptions to such Payment Facility and will do what we can to restore the facility as soon as reasonably possible.<br/><br/>

				If you pay for Services via the Payment Facility, ShakaraExpress will collect the payment in its capacity as the commercial agent of the relevant Partner. Once ShakaraExpress has successfully received your payment for the Services, this will discharge your debt to the Partner on whose behalf ShakaraExpress has collected the payment.
				For certain Dated Booking Orders, there may be an option for you to make a "Pay at Venue" or “Cash” booking. This means that you can make the Order but then pay for it directly to the Partner at the time of the appointment (i.e. not pay for the Order in advance on the Website or via our App through the Payment Facility). Please note, this option is not available in all circumstances. This option will only appear if the Order and the Partner are both eligible for “Pay at Venue” or “Cash” payment. <br/><br/>

				Please note that when you make a "Pay at Venue" or “Cash” Order, you are still entering into a binding legal contract in respect of the Order and once your Order Confirmation is sent and the Partner Contract has been formed, you must pay the Partner in full when you (or the recipient of the Services) attend the appointment. If you fail to show up to an appointment that you have not paid for you will still be liable to the Partner for the full amount due under the Partner Contract, unless cancelled in accordance with this terms of agreement. In all cases the Partner Contract will be subject to these Booking Terms and Conditions including the cancellation period selected by the partner. <br/><br/>
				 
				Our right to vary these Booking Terms and Conditions
				We may revise these Booking Terms and Conditions from time to time in the following circumstances:
				If we change the process for accepting payment from you;
				If there are changes in relevant laws and regulatory requirements; and/or
				If there are any other changes to our business that reasonably means we need to amend these Booking Terms and Conditions. <br/><br/>
				 
				These Booking Terms and Conditions will be governed by and construed in accordance with the laws of Nigeria. You and we each agree that the Nigerian courts will have non-exclusive jurisdiction over any claim or dispute arising from, or related to, the ordering and/or supply of Services via the Website or our App. <br/><br/>



				<strong>Part B - Issue of Vouchers </strong><br/><br/>

				How the Voucher Contract is Formed Between You and Us
				After placing an order for Voucher Products, you may receive a receipt from us or our payment processor confirming that we have received your order. Please note that receipt of this email does not mean that your order has been accepted even if we may have processed your payment, as your order constitutes an offer to us to buy a Voucher. The contract between us ("Voucher Contract") will only be formed when we issue the Voucher to you.
				We reserve the right to change, modify, substitute, suspend or remove any information relating to a Voucher advertised on the Website at any time before a Voucher Contract is formed.<br/><br/>

				<strong>Cancellations and Refunds</strong><br/><br/>

				You may cancel a Voucher Contract without giving any reason within fourteen days from the day after the day you receive the Voucher (but prior to its cancellation period window or its expiry)  provided that you have not already redeemed the Voucher (i) at a Merchant's or (ii) as ShakaraExpress Wallet Credit. If you cancel during this period, you will receive a full refund of the price paid for the Voucher.<br/><br/>

				To exercise the right to cancel a Voucher Contract, you must inform us of your decision to cancel the Voucher Contract by a clear statement via email using the below model cancellation form. You must destroy the Voucher and delete any emails sent to you with a copy of the Voucher. If you fail to comply with this obligation and/or attempt to use a cancelled Voucher, we may have a right of action against you for compensation.<br/><br/>

				<strong>Model cancellation form:</strong><br/><br/>

				To: ShakaraExpress LTD
				No. 10B Adenike Wale Ajibode Street Off Babatunde Anjous Avenue, Lekki, Phase 1, Niger
				I hereby give notice that I cancel my/our contract of sale of the Voucher for the following goods[*]/for the supply of the following service[*],
				Ordered on [*] /received on [*]
				Names of consumer,
				Address of consumer,
				Date<br/><br/>

				[*] Delete as appropriate
				You will not have any right to cancel a Voucher Contract where the Voucher has already been redeemed (i) at a Merchants or (ii) as ShakaraExpress Wallet Credit or (iii) where the Voucher has passed its Expiry Date.
				If you have cancelled the Voucher Contract in accordance then we will refund the amount paid for the Voucher in full and any refund will be made within 14 days after the cancellation has been made by the same method originally used by you to pay for your purchase unless you have expressly agreed otherwise. In any event, you will not incur any fees as a result of the reimbursement.<br/><br/>

				As stated on the Voucher, the Voucher can be redeemed with us prior to the Expiry Date for a ShakaraExpress Wallet Credit to the value of:
				a. 100% of the price paid for the Voucher where you redeem it up to 30 days after the date of its issue; or
				b. 50% of the price paid for the Voucher where you redeem it over 30 days after the date of its issue.<br/><br/>

				<strong>Price and Delivery Charges</strong><br/><br/>

				The price of any Voucher and any applicable delivery charge will be as quoted on the Website from time to time (inclusive of VAT (if applicable)), except in cases of obvious error. Unless expressly stated on the Website, delivery of Voucher Products will only be made to addresses in cities of Nigeria.<br/><br/>

				It is always possible that, despite our best efforts, some of the Vouchers listed on the Website may be incorrectly priced. We are under no obligation to issue any Voucher to you at the incorrect (lower) price. Furthermore, Merchants are not obliged to accept any issued Voucher nor are we obliged to honour a claim made for ShakaraExpress Wallet Credit in respect of any issued Voucher if the pricing error was obvious and unmistakable and could have reasonably been recognised by you as a mispricing. In these instances, you will receive a full refund of the price paid for the Voucher.<br/><br/>

				<strong>Voucher and Voucher Products</strong><br/><br/>

				ShakaraExpress will issue the Voucher to you. The Voucher will set out the Merchant's details and the Voucher Products (i.e. the goods and/or services which will be offered by that Merchant) and details of how to redeem the Voucher (i) at the Merchant's or (ii) where the Merchant has asked us to act as their agent and process the redemptions on their behalf, how to redeem the Voucher with us. The Voucher will also set out how it can be redeemed for another voucher or for ShakaraExpress Wallet Credit.<br/><br/>

				The Voucher is valid until the Expiry Date. After the Expiry Date the Voucher will be void and (i) the Merchant will not provide the Voucher Products and (ii) we will not accept a request to redeem for another voucher and (iii) we will not accept a claim to redeem the Voucher for ShakaraExpress Wallet Credit.<br/><br/>

				The Merchant named on the Voucher provides the Voucher Products.  The Merchant has a legal duty to supply the Voucher Products in conformity with the Fine Print. Please note that the Merchant is solely responsible for:
				a. Providing the Voucher Products to you; and
				b. The Voucher Products.<br/><br/>

				If you have any complaint in relation to the Voucher Products you should contact the Merchant directly.
				Reproduction, sale, resale or trade of a Voucher is prohibited and we reserve the right to cancel any Voucher, at our discretion, if we believe that you have not complied with the provisions of this clause.<br/><br/>

				It is at the discretion of the Merchant whether a Voucher can be combined with any other vouchers, offers, promotions, coupons or gift certificates on redemption of the Voucher at the Merchant.
				It is at the discretion of the Merchant whether to accept a Voucher for alternative goods and/or services to the Voucher Products provided that, where a Voucher is redeemed at a Merchant’s for alternative goods and/or services, there is no entitlement to a refund or a credit if such goods and/or services received have a value which is less than the Voucher's stated face value.<br/><br/>

				Except where expressly stated, Vouchers can only be redeemed in their entirety and may not be redeemed in part and/or installments.	Neither ShakaraExpress nor the Merchant is responsible for lost or stolen Vouchers.<br/><br/>	 
				  
				 
				<strong>Part C - Deals Direct Supplied Products</strong><br/><br/>

				<strong>How the ShakaraExpress Supply Contract is Formed Between You and Us</strong><br/>

				After placing your order for Deals Direct Supplied Products you may receive an email receipt from us or our payment processor confirming that we have received your order (“Order Receipt”). Please note that receipt of this email does not mean that your order has been accepted even if we may have processed your payment, as your order constitutes an offer to us to buy Deals Direct Supplied Products. The contract between us (“ShakaraExpress Supply Contract”) will only be formed when we send an email to you confirming acceptance of the order after the deal closes. Please note that when you order Deals Direct Supplied Products, unless referred to expressly in the Fine Print, no voucher will be issued and Deals Direct Supplied Products will be sent to the delivery address supplied at checkout.<br/><br/>

				Deals Direct Supplied Products
				Unless otherwise stated on the Website, delivery of Deals Direct Supplied Products will only be made to addresses in cities around Nigeria.<br/><br/>

				In some cases, delivery will only be made to the billing address provided at checkout. If the delivery address and the billing address do not match in these cases, a ShakaraExpress Supply Contract will not be formed and a refund of the price paid will be issued. The Fine Print will make it clear if this applies.<br/><br/>

				<strong>Cancellations and Refunds</strong><br/><br/>

				You may cancel a ShakaraExpress Supply Contract at any time up to fourteen days from the day after the day you receive the Deals Direct Supplied Products. In this case, you will receive a full refund of the price paid for the Deals Direct Supplied Products. Any refund will be made within 14 days of receipt by us of the Deals Direct Supplied Products from you, or (if earlier) the day on which you supply us with evidence of having sent the Deals Direct Supplied Products back and by the same method originally used by you to pay for your Deals Direct Supplied Product(s) unless you have expressly agreed otherwise. In any event, you will not incur any fees as a result of the reimbursement.<br/><br/>

				 To exercise the right to cancel a ShakaraExpress Supply Contract, you must inform us in writing by using the below model cancellation form. You must also return the Deals Direct Supplied Products to us immediately to the address set out in the Returns Information included in your delivery, in the same condition in which you received them. Returns to us are at your own cost and risk. You have a legal obligation to take reasonable care of any Deals Direct Supplied Products while they are in your possession. If you fail to comply with this obligation, we may have a right of action against you for compensation. Where a Deals Direct Supplied Product cannot by its nature normally be returned by post, we will arrange for it to be collected and you will have to bear the direct cost for returning the goods. <br/><br/>

				Model cancellation form:
				To: ShakaraExpress LTD
				No. 10B Adenike Wale Ajibode Street Off Babatunde Anjous Avenue, Lekki, Phase 1, Nigeria
				I hereby give notice that I cancel my/our contract of sale of the following goods,
				Ordered on [*] /received on [*]
				Names of consumer,
				Address of consumer,
				Date
				[*] Delete as appropriate
				You will not have any right to cancel a ShakaraExpress Supply Contract where the Deals Direct Supplied Product:
				a. Has been used or, in the case of services, the services have commenced by agreement; or
				 
				b. Has been made or customized specifically for you
				 
				<strong>Availability and Delivery</strong>
				 Your order will be fulfilled by the delivery date set out on your Order Receipt or, if no delivery date is specified, then within 30 days of the date of the ShakaraExpress Supply Contract, unless there are exceptional circumstances.<br/><br/>

				<strong>Risk</strong><br/><br/>

				Deals Direct Supplied Products will be at your risk from the time of delivery.
				Faulty Deals Direct Supplied Products
				 We are under a legal duty to supply goods that are in conformity with the ShakaraExpress Supply Contract. If you discover a fault with any Deals Direct Supplied Products please let us know promptly following delivery using our web form. We will normally offer a repair, exchange or refund. In all cases, we reserve the right to inspect the Deals Direct Supplied Products and verify the fault.<br/><br/>

				<strong>Price and Delivery Charges</strong><br/><br/>

				The price of any Deals Direct Supplied Product and any applicable delivery charge will be as quoted on the Site from time to time (inclusive of VAT (if applicable)), except in cases of obvious error.
				It is always possible that, despite our best efforts, some of the Deals Direct Supplied Products listed on the Site may be incorrectly priced. We are under no obligation to issue any Deals Direct Product to you at the incorrect (lower) price if the pricing error was obvious and unmistakable and could have reasonably been recognised by you as a mispricing. In these instances, you will receive a full refund of the price paid for the Deals Direct Supplied Products.<br/><br/>



				<strong>Liability</strong><br/><br/>
				Where we have been negligent and/or breached a contractual obligation to you, we will be liable for any loss or damage you suffer as a result, provided that loss and/or damage is foreseeable. Loss or damage is foreseeable if it is an obvious consequence of our negligence or breach of contract, or would have been considered by you and us to be a likely consequence of it at the time we entered into the ShakaraExpress Contract.<br/><br/>

				We do not accept any liability for the following types of loss, whether caused by breach of contract, tort (including negligence) or otherwise, even if the loss is foreseeable: loss of income or revenue; loss of business; loss of profits; loss of anticipated savings; or waste of management or office time.	We do not exclude or limit our liability for death or personal injury arising from our negligence, for fraud or fraudulent is representation, or for any other liability that cannot be excluded or limited under Nigerian law.

				 
				<strong>General</strong><br/><br/>

				All communications and notices from you must be sent to ShakaraExpress by email at customersupport@shakaraexpress.com. ShakaraExpress may communicate and give notice to you via post, email or by posting notices on the Website or via our App.<br/><br/>

				Please note our customer support hours are: between 8am - 5:30pm Monday to Fridays (closed Christmas Day and New Years’ Day).<br/><br/>

				If any of these Booking Terms and Conditions are determined by a competent authority to be invalid, unlawful or unenforceable to any extent, such term, condition or provision will to that extent be severed from the remaining terms, conditions and provisions which will continue to be valid to the fullest extent permitted by law.<br/><br/>

			</div>
		</div>
	</section>

{% endblock %}